.product-page .top-bar ul {
  margin-right: 5rem;
}

.desktop-menu li:not(:last-child) {
  margin-right: 4rem;
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #fff;
}

.desktop-menu > li:not(.menu-text) > a {

  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  padding: 0.4rem;
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);

  @media only screen and (max-width: 50rem) {
    font-size: .7rem;
  }

  @media only screen and (max-width: 39.94rem) {
    margin: 1.2rem 0;
  }

}

.desktop-menu > li:not(.drilling) > a:hover {
  border: 2px solid $indian-yellow;
  animation: outline 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  text-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}

.drilling a {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2);
  outline: 0 !important;
  border: 2px solid $indian-yellow !important;
  text-shadow: 1px 1px 2px #000000;
  cursor: default;
}

.product-page .logo-wrap {
  background-color: $eerie-black;
  display: inline-block;
  padding: 1rem 2rem;
  width: 20rem;
  text-align: center;
}

.social-media {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;

  .wrap {
    flex: 0 1 auto;
    margin-left: auto;
    padding: 1rem 0;
    margin-right: 5rem;
  }

  a {
    color: #000;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in, color 300ms ease-in;
  }

  a:hover {
    background-color: $maroon;
    color: #fff;
  }

  i {
    font-size: 0.8rem;
  }

  li:not(:last-child) {
    margin-right: 0.5rem;
  }

}

.line {
  width: 0;
  height: 1px;
  background-color: $usc-cardinal;
  opacty: 0;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scroll-down-icon {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 600ms 2.40s, transform 600ms 2.50s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scroll-down {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  transition: all 1s cubic-bezier(.645,.045,.355,1);
  animation: scroll-down 1.5s infinite;
  animation-delay: 3.25s;
}

.scroll-down circle, .scroll-down path {
  fill: none;
  stroke: $usc-cardinal;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.bullet-list-wrap.dark {

  transition: opacity 600ms, transform 600ms 111ms, box-shadow 600ms;
  background-color: $charleston-green;
  padding: 2.5rem 1rem;
  opacity: 0;
  @include box-shadow-all();

  h3,
  li {
    color: #fff;
  }

}

.bullet-list-wrap h3 {
  color: $granite-gray;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 600ms, transform 600ms 80ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bullet-list-wrap h3:before {
  content: '';
  display: block;
  height: 1px;
  opacity: 0;
  width: 0;
  background-color: $indian-yellow;
  margin-bottom: 0.5rem;
  transition: opacity 640ms 345ms, width 640ms 365ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bullet-list-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bullet-list-wrap li {
  padding: 1.5rem 0 1.5rem 1rem;
  font-weight: 600;
  color: $granite-gray;
  font-size: 0.9rem;
  border-top: 1px solid rgba(163,163,163,0.5);
  opacity: 0;
  transform: translateX(100px);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bullet-list-wrap li:last-child {
  padding-bottom: 0;
}

.the-bottom-line .wrap {

  position: relative;
  margin: 5rem 0;

  .line {
    position: absolute;
    top: 0;
    left: 0;
    transition-delay: 218ms;
  }

  .text-wrap {
    text-align: center;
    padding: 5rem 0;
  }

  // transition order

  .text-wrap h6 {
    color: $quick-silver;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 600ms 490ms, transform 600ms 596ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .text-wrap h1 {
    color: $granite-gray;
    opacity: 0;
    transform: translateX(150px);
    transition: opacity 0.92s 1.06s, transform 0.92s 1.13s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .text-wrap h1 strong {
    font-weight: 400;
    color: $usc-cardinal;
  }

  .text-wrap h5 {
    color: $usc-cardinal;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 700ms 1.75s, transform 700ms 1.86s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }


}

.the-bottom-line.active {

  .line {
    width: 25rem;
    opacity: 1;
  }

  // transition order

  .text-wrap h6 {
    transform: translateY(0);
    opacity: 1;
  }

  .text-wrap h1 {
    transform: translateX(0);
    opacity: 1;
  }

  .text-wrap h5 {
    transform: translateX(0);
    opacity: 1;
  }

  .scroll-down-icon {
    opacity: 1;
    transform: translateY(0);
  }

}

.product {

  // animation order

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 808ms, opacity 640ms 808ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 998ms, opacity 640ms 998ms;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.15s, opacity 640ms 1.15s;
  }

  .image-wrap {
    position: relative;
  }

  .product-image {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 640ms 675ms, opacity 640ms 830ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .product-background-image {
    width: 60% !important;
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 640ms 152ms, opacity 640ms 263ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

}

.product.drilling {

  .product-image {
    width: 80%;
    position: relative;
    z-index: 2;
  }

}

.product.active {

  // animation order

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0)
  }

  .product-background-image {
    opacity: 1;
    transform: translateY(0);
  }

  .product-image {
    opacity: 1;
    transform: translateX(0);
  }

}

.reliable-construction {

  .bullets-layer {
    top: 100px;
  }

  // animation order

  .bullet-list-wrap {
    transform: translateY(100px);
  }

  .bullet-list-wrap h3 {
    transition: opacity 600ms 250ms, transform 600ms 360ms;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 745ms, width 640ms 860ms;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 988ms, opacity 640ms 988ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 1.13s, opacity 640ms 1.13s;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.25s, opacity 640ms 1.25s;
  }

}

.reliable-construction.active {

  // animation order

  .bullet-list-wrap {
    opacity: 1;
    transform: translateY(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}

.power {

  top: -900px;

  .wrap {
    position: relative;
    height: 675px;
    width: 500px;
    margin-left: 40px;
  }

  .bullet-list-wrap {
    position: absolute;
    z-index: 2;
    max-width: 300px;
    right: -100px;
    bottom: -40px;
  }

  // animation order

  img {
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    height: 675px;
    opacity: 0;
    transform: translateY(-300px);
    transition: opacity 600ms, transform 600ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap {
    transform: translateX(200px);
    transition: transform 600ms 480ms, opacity 600ms 565ms;
  }

  .bullet-list-wrap h3 {
    transition: opacity 600ms 1.05s, transform 600ms 1.08s;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 1.56s, width 640ms 1.60s;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 1.92s, opacity 640ms 1.92s;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 2.07s, opacity 640ms 2.07s;
  }

}

.power.active {

  // animation order

  img {
    opacity: 1;
    transform: translateY(0);
  }

  .bullet-list-wrap {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}
