// TODO - Scroll Down Animation

.product-template {
  position: relative;
}

.parallax-nav {

  position: fixed;
  top: 250px;
  right: 5rem;
  opacity: 0;
  transition: 640ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 800ms;

  @media screen and (min-width: 20rem) {
    display: none;
  }
  @media screen and (min-width: 64rem) {
    display: block;
  }
}

.parallax-nav.active {
  opacity: 1;
}

.parallax-nav .wrap {
  display: flex;
  padding: 5rem 0;
  position: relative
}

.parallax-nav .wrap span {
  display: block;
  line-height: 2;
  width: 200px;
  text-align: right;
  transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.parallax-nav h5 {
  color: $maroon;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: -1.5rem;
  margin: 0;
  line-height: normal;
}

.parallax-nav .wrap:last-of-type h5 {
  right: -2rem;
}

.parallax-nav .labels span {
  font-size: 0.8rem;
  color: $quick-silver;
  padding-right: 1.5rem;
}

.parallax-nav .labels span.active {
  color: $maroon;
  font-weight: 700;
}

.indicators-wrap {

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: $timberwolf;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }


}

.parallax-nav .indicators span {

  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $timberwolf;
  position: relative;
  z-index: 2;
}

.parallax-nav .indicators span.active {
  background-color: $indian-yellow;
  border: 3px solid $maroon;
}

.product-page .top-bar ul {
  margin-right: 5rem;
  @media screen and (min-width: 40rem) {
    margin-right: 2.5rem;
  }
}

.desktop-menu li:not(:last-child) {
  margin-right: 4rem;
  @media screen and (min-width: 40rem) {
    margin-right: 1.5rem;
  }
}

.desktop-menu li {
  @media screen and (min-width: 20rem) {
    display: inline-block;
  }
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #fff;
}

.desktop-menu > li:not(.menu-text) > a {

  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  @media screen and (min-width: 20rem) {
    width: 6.5rem;
  }
  @media screen and (min-width: 90rem) {
    width: 10rem;
  }

}

.desktop-menu > li:not(.drilling) > a:hover {
  border: 2px solid $indian-yellow;
  animation: outline 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  text-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}

.is-active a {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2);
  outline: 0 !important;
  border: 2px solid $indian-yellow !important;
  text-shadow: 1px 1px 2px #000000;
  cursor: default;
}

.product-page .logo-wrap {
  background-color: $eerie-black;
  display: inline-block;
  padding: 1rem 2rem;
  width: 20rem;
  text-align: center;
}

.social-media {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;

  .wrap {
    flex: 0 1 auto;
    margin-left: auto;
    padding: 1rem 0;
    margin-right: 5rem;

    @media screen and (min-width: 20rem) {
      margin-right: 1.5rem;
    }
  }

  a {
    color: #000;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in, color 300ms ease-in;
  }

  a:hover {
    background-color: $maroon;
    color: #fff;
  }

  i {
    font-size: 0.8rem;
  }

  li:not(:last-child) {
    margin-right: 0.5rem;
  }

}

.line {
  width: 0;
  height: 1px;
  background-color: $usc-cardinal;
  opacty: 0;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  @media screen and (min-width: 20rem) {
    display: none;
  }
}

.scroll-down-icon {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 600ms 2.40s, transform 600ms 2.50s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scroll-down {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  transition: all 1s cubic-bezier(.645,.045,.355,1);
  animation: scroll-down 1.5s infinite;
  animation-delay: 3.25s;
}

.scroll-down circle, .scroll-down path {
  fill: none;
  stroke: $usc-cardinal;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.bullet-list-wrap.dark {

  transition: opacity 600ms, transform 600ms 111ms, box-shadow 600ms;
  background-color: $charleston-green;
  padding: 2.5rem 1rem;
  opacity: 0;
  @include box-shadow-all();

  h3,
  li {
    color: #fff;
  }

}

.bullet-list-wrap h3 {
  color: $granite-gray;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 600ms, transform 600ms 80ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bullet-list-wrap h3:before {
  content: '';
  display: block;
  height: 1px;
  opacity: 0;
  width: 0;
  background-color: $indian-yellow;
  margin-bottom: 0.5rem;
  transition: opacity 640ms 345ms, width 640ms 365ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bullet-list-wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bullet-list-wrap li {
  padding: 1.5rem 0 1.5rem 1rem;
  font-weight: 600;
  color: $granite-gray;
  border-top: 1px solid rgba(163,163,163,0.5);
  opacity: 0;
  transform: translateX(100px);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  @media screen and (min-width: 20rem) {
   font-size: 0.7rem;
  }
  @media screen and (min-width: 40rem) {
    font-size: 0.9rem;
  }
}

.bullet-list-wrap li:last-child {
  padding-bottom: 0;
}

.minimize-time {
  margin-top: 0;
}

.the-bottom-line .wrap {

  position: relative;

  .line {
    position: absolute;
    top: 0;
    left: 0;
    transition-delay: 218ms;
  }

  .text-wrap {
    text-align: center;
    padding: 5rem 0;
  }

  // transition order

  .text-wrap h6 {
    color: $quick-silver;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 600ms 490ms, transform 600ms 596ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .text-wrap h1 {
    color: $granite-gray;
    opacity: 0;
    transform: translateX(150px);
    transition: opacity 0.92s 1.06s, transform 0.92s 1.13s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    @media screen and (min-width: 40rem) {
      font-size: 2.2rem;
    }
    @media screen and (min-width: 80rem) {
      font-size: 3rem;
    }
  }

  .text-wrap h1 strong {
    font-weight: 400;
    color: $usc-cardinal;
  }

  .text-wrap h5 {
    color: $usc-cardinal;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 700ms 1.75s, transform 700ms 1.86s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }


}

.the-bottom-line.active {

  .line {
    width: 25rem;
    opacity: 1;
  }

  // transition order

  .text-wrap h6 {
    transform: translateY(0);
    opacity: 1;
  }

  .text-wrap h1 {
    transform: translateX(0);
    opacity: 1;
  }

  .text-wrap h5 {
    transform: translateX(0);
    opacity: 1;
  }

  .scroll-down-icon {
    opacity: 1;
    transform: translateY(0);
  }

}

.product {

  // animation order

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 808ms, opacity 640ms 808ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 998ms, opacity 640ms 998ms;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.15s, opacity 640ms 1.15s;
  }

  .image-wrap {
    position: relative;
  }

  .product-image {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 640ms 675ms, opacity 640ms 830ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .product-background-image {
    width: 60%;
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 640ms 152ms, opacity 640ms 263ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

}

.product.drilling {

  .product-image {
    width: 80%;
    position: relative;
    z-index: 2;
  }

}

.product.active {

  // animation order

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0)
  }

  .product-background-image {
    opacity: 1;
    transform: translateY(0);
  }

  .product-image {
    opacity: 1;
    transform: translateX(0);
  }

}

.reliable-construction {
  // animation order

  margin: 0;
  min-height: 200px;

  .bullet-list-wrap {
    transform: translateY(100px);
  }

  .bullet-list-wrap h3 {
    transition: opacity 600ms 250ms, transform 600ms 360ms;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 745ms, width 640ms 860ms;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 988ms, opacity 640ms 988ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 1.13s, opacity 640ms 1.13s;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.25s, opacity 640ms 1.25s;
  }

}

.reliable-construction.active {

  // animation order

  .bullet-list-wrap {
    opacity: 1;
    transform: translateY(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}

.power {

  margin: 5rem 0;

  .wrap {
    position: relative;
    height: 675px;
    width: 500px;
    margin-left: 40px;
  }

  .bullet-list-wrap {
    position: absolute;
    z-index: 2;
    width: 80%;
    bottom: -40px;
  }

  // animation order

  img {
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    height: 675px;
    opacity: 0;
    transform: translateY(-300px);
    transition: opacity 600ms, transform 600ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap {
    transform: translateX(200px);
    transition: transform 600ms 480ms, opacity 600ms 565ms;
  }

  .bullet-list-wrap h3 {
    transition: opacity 600ms 1.05s, transform 600ms 1.08s;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 1.56s, width 640ms 1.60s;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 1.92s, opacity 640ms 1.92s;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 2.07s, opacity 640ms 2.07s;
  }

}

.power.active {

  // animation order

  img {
    opacity: 1;
    transform: translateY(0);
  }

  .bullet-list-wrap {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}

.smallest-footprint {

  margin-top: 0;

  .grid-x {
    height: 100%;
  }

  background-size: 80% !important;
  background-repeat: no-repeat !important;
  background-position: -850px center !important;

  @media screen and (min-width: 40rem) {
    background-size: 60% !important;
    background-position: -250px center !important;
  }

  // animation order

  .bullet-list-wrap h3 {
    transition: opacity 600ms, transform 310ms 34ms;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 275ms, width 640ms 1.60s;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 440ms, opacity 640ms 440ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 645ms, opacity 640ms 645ms;
  }

}

.smallest-footprint.active {

  .bullet-list-wrap {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}

.smoothest-operating {

  background-size: cover !important;
  background-repeat: no-repeat !important;

    // animation order

  .bullet-list-wrap {
    transform: translateY(100px);
  }

  .bullet-list-wrap h3 {
    transition: opacity 600ms 250ms, transform 600ms 360ms;
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 745ms, width 640ms 860ms;
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 988ms, opacity 640ms 988ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 1.13s, opacity 640ms 1.13s;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.25s, opacity 640ms 1.25s;
  }

}

.smoothest-operating.active {

  .bullet-list-wrap {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0);
  }

}

.designs {

  // animation order

  .bullet-list-wrap h3 {
    transition: opacity 600ms, transform 600ms 80ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap h3:before {
    transition: opacity 640ms 345ms, width 640ms 365ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 808ms, opacity 640ms 808ms;
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 998ms, opacity 640ms 998ms;
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.15s, opacity 640ms 1.15s;
  }

  .image-wrap {
    position: relative;
  }

  .product-image {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 640ms 675ms, opacity 640ms 830ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 0 auto;
    display: block;
    @media screen and (min-width: 20rem) {
      width: 150px;
    }
    @media screen and (min-width: 64rem) {
      width: 250px;
    }
    @media screen and (min-width: 90rem) {
      width: 350px;
    }
  }

  .product-background-image {
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 640ms 152ms, opacity 640ms 263ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

}

.designs.active {

  // animation order

  .bullet-list-wrap h3 {
    opacity: 1;
    transform: translateX(0);
  }

  .bullet-list-wrap h3:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateX(0)
  }

  .product-background-image {
    opacity: 1;
    transform: translateY(0);
  }

  .product-image {
    opacity: 1;
    transform: translateX(0);
  }

}

.modules-bullet-list .bullet-list-wrap,
.bullet-list-b .bullet-list-wrap  {

  padding: 2rem;
  background-color: $white-smoke;
  @include box-shadow-all('rgba(44,62,80,.3)');

}

.modules-bullet-list .bullet-list-wrap li,
.bullet-list-b .bullet-list-wrap li  {
  font-size: 1.2rem;
  padding-bottom: 0;
  &:first-child {
    padding-top: 0;
  }
  @media screen and (min-width: 20rem) {
    font-size: 0.9rem;
  }
}

.modules-bullet-list {

  .image-wrap {
    position: relative;
  }

  // animation order

  .product-background-image {
    @include box-shadow-all('rgba(44,62,80,.3)');
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 640ms, opacity 640ms 60ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 80%;
  }

  .product-image {

    opacity: 0;
    transform: translateX(100px);
    transition: transform 640ms 260ms, opacity 640ms 320ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    z-index: 2;
    width: 480px;
    margin: 0 auto;
    display: block;
    @media screen and (min-width: 20rem) {
      width: 150px;
    }
    @media screen and (min-width: 64rem) {
      width: 250px;
    }
    @media screen and (min-width: 90rem) {
      width: 350px;
    }
  }

  .bullet-list-wrap ul li {
    border-top: none;
    transform: translateY(100px);
  }

  .bullet-list-wrap ul li:before {
    content: '';
    display: block;
    height: 1px;
    opacity: 0;
    width: 0;
    background-color: $indian-yellow;
    margin-bottom: 0.5rem;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms 535ms, opacity 640ms 535ms;
    &:before {
      transition: opacity 640ms 725ms, width 640ms 775ms;
    }
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 1s, opacity 640ms 1s;
    &:before {
      transition: opacity 640ms 1.13s, width 640ms 1.16s;
    }
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 1.15s, opacity 640ms 1.15s;
    &:before {
      transition: opacity 640ms 1.30s, width 640ms 1.35s;
    }
  }

}

.modules-bullet-list.active {

  .bullet-list-wrap ul li:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateY(0)
  }

  .product-background-image {
    opacity: 1;
    transform: translateY(0);
  }

  .product-image {
    opacity: 1;
    transform: translateX(0);
  }

}

.bullet-list-b {

  .grid-x {
    height: 100%;
  }

  background-size: 275px !important;
  background-repeat: no-repeat !important;
  background-position: -250px 0 !important;

  @media screen and (min-width: 64rem) {
    background-position: -150px 0 !important;
  }


  // animation order :

  .bullet-list-wrap ul li {
    border-top: none;
    transform: translateY(100px);
  }

  .bullet-list-wrap ul li:before {
    content: '';
    display: block;
    height: 1px;
    opacity: 0;
    width: 0;
    background-color: $indian-yellow;
    margin-bottom: 0.5rem;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .bullet-list-wrap ul li:nth-of-type(1) {
    transition: transform 640ms, opacity 640ms;
    &:before {
      transition: opacity 640ms 40ms, width 65ms;
    }
  }

  .bullet-list-wrap ul li:nth-of-type(2) {
    transition: transform 640ms 95ms, opacity 640ms 95ms;
    &:before {
      transition: opacity 640ms 272ms, width 640ms 300ms;
    }
  }

  .bullet-list-wrap ul li:nth-of-type(3) {
    transition: transform 640ms 207ms, opacity 640ms 207ms;
    &:before {
      transition: opacity 640ms 378ms, width 415ms 396ms;
    }
  }

}

.bullet-list-b.active {

  .bullet-list-wrap ul li:before {
    opacity: 1;
    width: 3rem;
  }

  .bullet-list-wrap li {
    opacity: 1;
    transform: translateY(0)
  }

  .product-background-image {
    opacity: 1;
    transform: translateY(0);
  }

  .product-image {
    opacity: 1;
    transform: translateX(0);
  }

}

.background-one {
  margin: 0;
}

.background-one,
.background-two {
  background-position: center center !important;
  @media screen and (min-width: 20rem) {
    height: 200px;
    min-height: 0;
  }
}

.fracking {

  .product {
    .product-background-image {
      @media screen and (min-width: 20rem) {
        width: 100%;
      }
      @media screen and (min-width: 40rem) {
        width: 60%;
      }
    }
    .product-image {
      display: block;
      @media screen and (min-width: 20rem) {
        margin: 0 auto;
      }
    }
  }

  .power {

    margin: 5rem 0;

    .wrap {
      position: relative;
      height: 675px;
      width: 500px;
      margin-left: 0;
    }

    .bullet-list-wrap {
      position: absolute;
      z-index: 2;
      width: 80%;
      bottom: -40px;
    }

    // animation order

    .bullet-list-wrap {
      transform: translateX(200px);
      transition: transform 600ms, opacity 600ms 115ms;
    }

    .bullet-list-wrap h3 {
      transition: opacity 600ms 275ms, transform 600ms 335ms;
    }

    .bullet-list-wrap h3:before {
      transition: opacity 640ms 610ms, width 640ms 690ms;
    }

    .bullet-list-wrap ul li:nth-of-type(1) {
      transition: transform 640ms 1.08s, opacity 640ms 1.08s;
    }

    .bullet-list-wrap ul li:nth-of-type(2) {
      transition: transform 640ms 1.30s, opacity 640ms 1.30s;
    }

    .bullet-list-wrap ul li:nth-of-type(3) {
      transition: transform 640ms 1.56s, opacity 640ms 1.56s;
    }

  }

  .power.active {

    // animation order

    img {
      opacity: 1;
      transform: translateY(0);
    }

    .bullet-list-wrap {
      opacity: 1;
      transform: translateX(0);
    }

    .bullet-list-wrap h3 {
      opacity: 1;
      transform: translateX(0);
    }

    .bullet-list-wrap h3:before {
      opacity: 1;
      width: 3rem;
    }

    .bullet-list-wrap li {
      opacity: 1;
      transform: translateX(0);
    }

  }

  .smallest-footprint {

    @media screen and (min-width: 90rem) {
      background-position: 145% 100% !important;
      background-size: 900px !important
    }


    .bullet-list-wrap h3 {
      transition: opacity 640ms, transform 640ms 34ms;
    }

    .bullet-list-wrap h3:before {
      transition: opacity 640ms 275ms, width 640ms 1.60s;
    }

    .bullet-list-wrap ul li:nth-of-type(1) {
      transition: transform 640ms 440ms, opacity 640ms 440ms;
    }

    .bullet-list-wrap ul li:nth-of-type(2) {
      transition: transform 640ms 645ms, opacity 640ms 645ms;
    }

    .bullet-list-wrap ul li:nth-of-type(3) {
      transition: transform 640ms 850ms, opacity 640ms 850ms;
    }

  }

  .smoothest-operating {

    margin-bottom: 0;

    -webkit-background-size: cover !important;
    background-size: cover !important;
    display: flex;

    .grid-x {
      height: 100%;
    }

    .parallax__layer--base {
      width: 100%;
    }

    .thunder-logo {
      opacity: 0;
      transform: translateY(100px);
      transition: transform 640ms 850ms, opacity 640ms 850ms;
      transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      display: block;
      margin: 0 auto;
      @media screen and (min-width: 20rem) {
        width: 200px;
      }
      @media screen and (min-width: 40rem) {
        width: 275px;
      }
      @media screen and (min-width: 90rem) {
        width: 350px;
      }
    }

    .header-list-wrap h3 {
      margin-top: 2.5rem;
    }

  }

  .smoothest-operating.active {
    .thunder-logo {
      opacity: 1;
      transform: translateY(0);
    }
    .header-list-wrap h3 {
      transition: transform 640ms 1.53s, opacity 640ms 1.62s;
    }
    .header-list-wrap h3:before {
      transition: transform 640ms 1.80s, width 1.85s 850ms;
    }
  }

  .modules-bullet-list {

    .product-image {
      @media screen and (min-width: 20rem) {
        margin: 0 auto;
        width: 300px;
      }
      @media screen and (min-width: 90rem) {
        width: 600px;
      }
    }

    .bullet-list-wrap {
      transition: opacity 600ms, transform 600ms 110ms;
      background-color: #2c2c2c;
      transform: translateY(100px);
      @media screen and (min-width: 20rem) {
        margin-top: 10rem;
      }
    }

    .bullet-list-wrap li {
      padding: 1.5rem 0 1.5rem 1rem;
      font-weight: 600;
      border-top: 1px solid rgba(163, 163, 163, 0.5);
      transition: transform 640ms 850ms, opacity 640ms 850ms;
    }

    .bullet-list-wrap li:before {
      display: none;
    }

    .bullet-list-wrap ul li:nth-of-type(2) {
      transition: transform 640ms 720ms, opacity 640ms 720ms;
    }

    .bullet-list-wrap ul li:nth-of-type(3) {
      transition: transform 640ms 925ms, opacity 640ms 925ms;
    }

    .bullet-list-wrap ul li:nth-of-type(4) {
      transition: transform 640ms 960ms, opacity 640ms 960ms;
    }

    .bullet-list-wrap h3 {
      transition: opacity 600ms, transform 640ms 324ms;
    }

    .bullet-list-wrap h3:before {
      transition: opacity 640ms 732ms, width 640ms 745ms;
    }
  }

  .modules-bullet-list.active {

    .bullet-list-wrap.dark {
      opacity: 1;
      transform: translateY(0);
    }

    .bullet-list-wrap h3 {
      opacity: 1;
      transform: translateX(0);
    }
    .bullet-list-wrap h3:before {
      opacity: 1;
      width: 3rem;
    }
  }

  .bullet-list-b {

    .image-wrap {
      position: relative;
    }
    .product-image {
      z-index: 2;
      position: relative;
      transform: translateY(100px);
      opacity: 0;
      transition: transform 640ms, opacity 640ms 60ms;
      transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .product-background-image {
      box-shadow: 0 0 15px rgba(44,62,80,.3);
      position: absolute;
      top: 100px;
      right: 0;
      opacity: 0;
      transform: translateX(100px);
      transition: transform 640ms, opacity 640ms 60ms;
      transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      width: 80%;
    }

    .product-image {
      @media screen and (min-width: 20rem) {
        margin-top: 10rem;
      }
    }
  }

  .bullet-list-b.active {

    .product-image {
      opacity: 1;
      transform: translateY(0);
    }

    .product-background-image {
      opacity: 1;
      transform: translateX(0);
    }

  }

  .fracking-header {

    .bullet-list-wrap h3 {
      transition: opacity 600ms, transform 600ms 80ms;
    }
    .bullet-list-wrap h3:before {
      transition:opacity 600ms, transform 600ms 80ms;
    }
  }

  .fracking-header.active {
    .bullet-list-wrap h3 {
      opacity: 1;
      transform: translateX(0);
    }

    .bullet-list-wrap h3:before {
      width: 3rem;
      opacity: 1;
    }
  }

  .ease-of-maintenance {

    -webkit-background-size: cover !important;
    background-size: 1024px !important;
    background-repeat: no-repeat !important;

    @media screen and (min-width: 20rem) {
      background-size: 500px !important;
      background-position: 2000% 100% !important;
    }
    @media screen and (min-width: 64rem) {
      background-position: 115% 100% !important;
    }
    @media screen and (min-width: 90rem) {
      background-position: 105% 100% !important;
    }

    .grid-x,
    .parallax__layer {
      height: 100%;
    }

    min-height: 0;
    height: 500px;


    .bullet-list-wrap {
      transition: opacity 600ms, transform 600ms 110ms;
      background-color: #2c2c2c;
      transform: translateY(100px);
    }

    .bullet-list-wrap ul li {
      transition: transform 640ms 720ms, opacity 640ms 720ms;
    }
    .bullet-list-wrap ul li:nth-of-type(2) {
      transition: transform 640ms 720ms, opacity 640ms 720ms;
    }

    img {
      @media screen and (min-width: 90rem) {
        width: 1200px;
      }
    }
  }

  .ease-of-maintenance.active {

    .bullet-list-wrap {
      opacity: 1;
      transform: translateY(0);
    }

    .bullet-list-wrap h3 {
      opacity: 1;
      transform: translateX(0);
    }
    .bullet-list-wrap h3:before {
      opacity: 1;
      width: 3rem;
    }

    .bullet-list-wrap li {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .header-b {

    .bullet-list-wrap h3 {
      transition: opacity 640ms, transform 640ms 34ms;
    }

    .bullet-list-wrap h3:nth-of-type(2) {
      transition: opacity 640ms 250ms, transform 640ms 322ms;
    }

    .bullet-list-wrap h3:before {
      transition: opacity 640ms 269ms, width 640ms 335ms;
    }

    .bullet-list-wrap h3:nth-of-type(2):before {
      transition: opacity 640ms 515ms, width 640ms 595ms;
    }
  }

  .header-b.active {
    .bullet-list-wrap h3 {
      opacity: 1;
      transform: translateX(0);
    }
    .bullet-list-wrap h3:before {
      opacity: 1;
      width: 3rem;
    }
  }

  .reliablity {
    margin-top: 0;
  }

}
