// TODO - Scroll Down Animation

.product-template {
  position: relative;
}

.desktop-menu li:not(:last-child) {
  margin-right: 4rem;
  @media screen and (min-width: 40rem) {
    margin-right: 1.5rem;
  }
}

.desktop-menu li {
  @media screen and (min-width: 20rem) {
    display: inline-block;
  }
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #fff;
}

.desktop-menu > li:not(.menu-text) > a {

  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  @media screen and (min-width: 20rem) {
    width: 6.5rem;
  }
  @media screen and (min-width: 90rem) {
    width: 10rem;
  }

}

.desktop-menu > li:not(.drilling) > a:hover {
  border: 2px solid $indian-yellow;
  animation: outline 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  text-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}

.is-active a {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2);
  outline: 0 !important;
  border: 2px solid $indian-yellow !important;
  text-shadow: 1px 1px 2px #000000;
  cursor: default;
}

.product-page .logo-wrap {
  background-color: $eerie-black;
  display: inline-block;
  padding: 1rem 2rem;
  width: 20rem;
  text-align: center;
}

.social-media {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;

  .wrap {
    flex: 0 1 auto;
    margin-left: auto;
    padding: 1rem 0;
    margin-right: 5rem;

    @media screen and (min-width: 20rem) {
      margin-right: 1.5rem;
    }
  }

  a {
    color: #000;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in, color 300ms ease-in;
  }

  a:hover {
    background-color: $maroon;
    color: #fff;
  }

  i {
    font-size: 0.8rem;
  }

  li:not(:last-child) {
    margin-right: 0.5rem;
  }

}

.line {
  width: 0;
  height: 1px;
  background-color: $usc-cardinal;
  opacty: 0;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  @media screen and (min-width: 20rem) {
    display: none;
  }
}
