// button hover

@keyframes outline {
  0% {
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
  }
  100% {
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
  }
}

@keyframes box-shadow {
  0% {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .2), 0 0 20px rgba(255, 255, 255, .2);
  }
}

@keyframes text-shadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 1px 1px 2px #000000;
  }
}
