.footer {
  background-color: #000;
  max-width: 100%;
  color: #fff;

  @media screen and (min-width: 20rem) {
    font-size: 0.5rem;
  }

  @media screen and (min-width: 64rem) {
    font-size: 0.8rem;
  }

  .grid-x {
    width: 100%;
  }

  .copyright {
    display: block;
    @media screen and (min-width: 20rem) {
      text-align: center;
      padding: 0;
      margin-top: 0.5rem;
    }
    @media screen and (min-width: 64rem) {
      text-align: right;
      padding-right: 3rem;
    }
  }
  width: 100%;

  @media screen and (min-width: 20rem) {
    text-align: center;
  }
  @media screen and (min-width: 64rem) {
    text-align: left;
  }

  .logo-wrap {
    width: auto !important;
  }

}

.product-page .footer .logo-wrap {
  background-color: transparent;
}
