.title-bar {
  background: $white-smoke;
}
.menu-icon:after {
  background: $maroon;
  box-shadow: 0 7px 0 $maroon, 0 14px 0 $maroon;
}

.off-canvas {
  background: $maroon;
}

.off-canvas > ul.menu li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.off-canvas > ul.menu a {
  color:  $white-smoke;
}
