.top-bar, .top-bar ul {
  background-color: $usc-cardinal;
}

.top-bar .menu li:not(:last-child) {
  border-right: none;
}

.top-bar .menu a {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.top-bar .menu a:hover:not(.button) {
  background-color: transparent;
}


.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include box-shadow-bottom('rgba(44,62,80,.6)');
}
